@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --w3m-color-mix: #fff;
  --w3m-accent: #D4AF37 !important;
  --w3m-default: #fff;
  --w3m-border-radius-master: 4px;
  --wui-color-modal-bg-base: #121313;
  --wui-color-accent-base-100: var(--w3m-accent);
  --wui-border-radius-m: calc(var(--w3m-border-radius-master) * 2) !important;
}

button[data-size='md'] {
  padding: 9px var(--wui-spacing-l) 9px var(--wui-spacing-l);
  width: 100% !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes border-flow {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-border-flow {
  animation: border-flow 8s linear infinite;
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}

.custom-size {
  font-family: 'Space Grotesk', 'Outfit', Arial, sans-serif;
}

.roadmap-box::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 50%;
  width: 1900px;
  height: 6px;
  background: #2C2C3F;
  margin-top: 24px;
}

.roadmap:nth-child(2n) {
  top: -45px;
  position: relative;
  flex-direction: column-reverse;
}

.roadmap:nth-child(2n) .pin {
  transform: scaleY(-1);
}

.roadmap:nth-child(2n+1) {
  top: 100px;
  position: relative;
}

.answer {
  background: linear-gradient(180deg, #171222 0%, #213a57 100%);
}

.stats-group::after {
  background: black;
  content: "";
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.stats-group:hover::after {
  top: 0;
}